.forgot-desc {
    color: #888;
    font-size: 14px;
    margin-bottom: 24px;
}

.resend-otp {
    display: block;
    text-align: right;
    color: #ff3d7f;
    font-size: 13px;
    text-decoration: none;
    margin: -10px 0 20px 0;
    transition: 0.3s;
}

.resend-otp:hover { opacity: 0.75; }